@charset "UTF-8";

*, *:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.all_wrap{overflow: hidden;position: relative;}

.jarallax {position: relative;z-index: 0;height: 100%;}
.jarallax > .jarallax-img {position: absolute;  object-fit: cover;  top: 0;  left: 0;  width: 100%;  height: 100%;  z-index: -1;}
.main_admin{position: fixed; z-index: 11; top:95px; right: 10px;}
.main_admin a{font-size: 14px; background: #fff; border-radius: 5px; margin-bottom: 5px; width: 80px; height: 30px; display: inline-block; text-align: center; line-height: 30px; font-weight: 500;}
/* 공통 */
.width{width: 92% !important; max-width: 1400px; margin: 0 auto; position: relative;}
.width2{width: 92% !important; max-width: 1200px; margin: 0 auto; position: relative;}
.common{padding: 120px 0px;}
:root{
	--c1: #b5872d;
	--c2: #d5e9f8;

	--fs60: 6.0rem;
	--fs50: 5.0rem;
	--fs45: 4.5rem;
	--fs40: 4.0rem;
	--fs35: 3.5rem;
	--fs32: 3.2rem;
	--fs30: 3.0rem;
	--fs28: 2.8rem;
	--fs24: 2.4rem;
	--fs22: 2.2rem;
	--fs20: 2.0rem;
	--fs18: 1.8rem;
	--fs14: 1.4rem;
}
.pre{font-family: 'Pretendard' !important;}
.board_title{margin-bottom: 80px; text-align: center;}
.board_title h2{font-size: var(--fs32); font-weight: 500;}
.board_title p{margin-top: 10px; font-size: var(--fs20);}
.mb30{margin-bottom: 30px;}

@media all and (max-width: 1024px) {
	.common{padding: 80px 0px;}
	.board_title{margin-bottom: 60px;}
}

#header{width: 100%;position: fixed;top: 0;z-index: 999; transition: 0.3s all; background:#fff; transition: 0.3s;}
/* #header.active {transform: translateY(-116px);} */
#header:before {content:''; display:block; position:absolute; left:0; top:90px; right:0; height:1px; background:#eee;}
#header .head_login_wrap{display: flex; align-items: center;}
#header .head_login{display: flex;justify-content: flex-end;padding: 7px 10px; border: 1px solid #333; border-radius: 30px; margin-right: 25px;}
#header .head_login li{margin:0px 5px;}
#header .head_login a{font-size: 1.2rem; color: #333; white-space: nowrap; font-weight: 400;}
#header .head_login i{font-size: 20px;}

#header .logo_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}


#header .logo {height: 90px; display:flex; align-items: center; justify-content: space-between;}
/* #header .logo {height: 90px; align-items: center; justify-content: space-between;} */
#header .logo img {max-height: 100%; height: 90px; display: block;}
#header .tel {position:absolute; right:0; top:16px;}

/* .logo_location {
  position: absolute;
  right: 20px;
  top: 0;
  height: 90px;
  display: flex;
  align-items: center;
}
.logo_location img {
  height: 60px;
} */


#header .head_menu{position: relative; max-width:1400px; margin:0 auto;}
#header .head_menu .main_menu { width: 70%; display: flex; justify-content: center; align-items: center; text-align: center; height: 100%; z-index: 9;}
#header .head_menu .main_menu .dept1 { width: 20%; position: relative; padding: 15px 0px;}
#header .head_menu .main_menu .dept1 > a { font-size: 1.7rem; font-weight: 300; color: #333;}
#header .head_menu .main_menu .dept1 > a.active { color: #2DAAE1; font-weight: bold; }
#header .head_menu .main_menu .dept1 > a.menuon { color: #2DAAE1; font-weight: bold; }

#header .head_menu .sub_menu { position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 100%; padding-top: 20px; display: none; padding-bottom: 30px;}
#header .head_menu .main_menu .dept2 { padding: 12px 0px; }
#header .head_menu .main_menu .dept2 a { font-size: 1.5rem; display: block;}
#header .main_menu .dept2>a:hover,
#header .main_menu .dept2>a:active,
#header .main_menu .dept2>a.menuon,
#header .main_menu .dept2>a:focus { color: #2DAAE1;font-weight: bold;}
#header .menu_bg {background: #fff;width: 100%;height: 0;left: 0;z-index: 1;position: absolute; border-top: 1px solid #eee;}
#header.active{background: #fff;}

#header.active .head_menu .main_menu .dept1 > a { font-size: 1.7rem; font-weight: 300; color: #222; background:none;}
#header.active .head_menu .main_menu .dept1 > a.active { color: #2DAAE1; font-weight: bold; }
#header.active .head_menu .main_menu .dept1 > a.menuon { color: #2DAAE1; font-weight: bold; }
.head_menu_wrap{display: flex; align-items: center; width: 80%; justify-content: flex-end;}
#header:hover{background: #fff;}

#header:hover .head_menu .main_menu .dept1 > a { font-size: 1.7rem; font-weight: 300; color: #222;}
#header:hover .head_menu .main_menu .dept1 > a.active { color: #2DAAE1; font-weight: bold; }
#header:hover .head_menu .main_menu .dept1 > a.menuon { color: #2DAAE1; font-weight: bold; }

#header .pmenu{width:100%; height: 60px; display: flex;  justify-content:space-between; align-items: center;}
#header .pmenu a{color: #333; font-size: 20px; font-weight: 300; }
#header .pmenu a.active{ color:#072a67;  font-weight: 600;}


.menu_open { position: fixed; width: 100%; height: 100vh;
background: #fff; top: 0; left: 0; z-index: 999; padding: 55px 50px 50px 50px; display: none; }
.menu_open .site_map_wrap h2 { margin-bottom: 150px; display: flex; justify-content: space-between; align-items: center;}
.menu_open .site_map { display: flex; width: 100%; }
.menu_open .site_map .dept1 { width: 20%; margin-right: 40px; }
.menu_open .site_map .dept1:last-child { border-right: 0px; }
.menu_open .site_map .dept1 > a { font-size: 2.8rem; font-weight: 700; padding-bottom: 30px; border-bottom: 2px solid #eee; display: block; margin-bottom: 30px;}
.menu_open .site_map .dept1 > a.active { color: #364F6B; }
.menu_open .site_map .dept2 a { font-size: 2.0rem; position: relative; line-height: 120%; margin-bottom: 30px; display: inline-block; padding-bottom: 3px; }
.menu_open .site_map .dept2 a::after { content: ''; width: 0; height: 3px; background: rgba(54, 79, 107, 0.5); position: absolute; bottom: 0; left: 0; transition: 0.3s all; }
.menu_open .site_map .dept2 a:hover::after { width: 100%; }
.hd_bg { background: #fff; width: 100%; height: 0; left: 0; z-index: 1; position: absolute; }
.site_foot{padding-top: 20px;margin-top: 150px; border-top: 2px solid #eee; text-align: center;}

#header .menu_bar { z-index: 99; position: relative; }
#header .menu_bar span { width: 25px; height: 1px; background: #fff; display: block; margin: 5px}
#header .menu_bar2 { z-index: 9999; position: relative; }
#header .menu_bar2 span:nth-child(1) { display: none; }
#header .menu_bar2 span:nth-child(2) { transform: rotate(130deg); }
#header .menu_bar2 span:nth-child(3) { transform: rotate(45deg); top: 0px; position: absolute; }
#header .menu_bar2 span { width: 22px; height: 2px; background: #555; display: block; margin: 6px}

#header:hover .menu_bar span {background: #222;}
#header.active .menu_bar span {background: #222;}

/* 모바일 */
.mobile_head {width: 100%; height: 60px; display: flex; justify-content: space-between; align-items: center; padding: 0px 15px; display: none; position: fixed; background:#fff; z-index: 99; box-shadow: 0px 1px 3px rgba(0,0,0,0.3);}
.mobile_head .mobile_logo { width: 195px; }
.mobile_head .mobile_logo img { width: 100%; }
#mobile_menu {  display: none; position: fixed; top: 0; right: -75%; width: 75%; height: 100%; background: #fff; z-index: 1000;  overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none; padding-bottom: 50px;}
#mobile_menu::-webkit-scrollbar{display: none;}
#mobile_menu .mob_logo { width: 100%; padding: 0px 20px; height: 70px; background:#fff;display: flex; justify-content: space-between; align-items: center;}
#mobile_menu .mob_logo a { width: 100px; }
#mobile_menu .mob_logo a img { width: 100%; }
#mobile_menu .mobile_close { font-size: 30px; cursor: pointer; color: #333;}
#mobile_menu .mob_menu .top_menu {display: flex;justify-content: space-between; align-items: center; padding: 15px 0px;font-size: 16px; margin: 0px 15px; border-bottom: 1px solid #8e8e8e;}
.mobile_open{font-size: 24px;}
#mobile_menu .mob_menu .topmenu.on { color: #fff; }
#mobile_menu .mob_menu .sub_menu { padding: 15px 0px; margin: 0px 20px; border-bottom: 1px solid #ccc; background: #fff; visibility: visible; }
#mobile_menu .mob_menu .sub_menu a {display: block; color: #333 ;font-size: 15px; padding: 10px; background: #fff;}
#mobile_menu .mob_menu_btn{display: flex; padding: 10px 0px; margin: 0px 20px; justify-content: space-between;}
#mobile_menu .mob_menu_btn li{width: 49%;}
#mobile_menu .mob_menu_btn a{font-size: 17px;  background: #ddd;display: flex; height: 50px; justify-content: center; align-items: center;}
#mobile_menu .mob_menu_btn a i{font-size: 16px; margin-right: 5px;}
.mob_bg {  display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.5); z-index: 99;}
.gnb, .menu_btn, .gnb ul{display: none;}
.mobile_head .mo365{padding: 6px 10px; border-radius: 3px; background: #353a62; color: #fff; font-weight: 400; font-size: 16px; }
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}










@media screen and ( max-width: 1400px ){
#pcmenu .topmenu { font-size: 17px; }
#pcmenu .submenu a { font-size: 14px; }
#header .head_menu{padding: 0px 2%;}
#header .pmenu a{font-size: 1.7rem;}
#header .head_menu .logo a{width: 180px; height: 36px;}
#header .pmenu span{margin: 0px 1%;}
}
@media screen and ( max-width: 1024px ){
#header { display: none; }
.mobile_head{display: flex; }
.menu_btn{position: fixed; top: 60px; z-index: 15; display: block; width: 100%;}
.menu_btn div{width: 100%; display: flex; align-items: center; background: #353a62; color: #fff; font-size: 17px; padding: 10px;}
.gnb{display: block;}
/* .menu_btn{transform:translateY(-50%);} */
/* .menu_btn.on{right:50px;position:absolute;top:50%;transform:translateY(-50%);} */

.menu_btn .open span:nth-child(2){margin-top:1vw;}
.menu_btn .open span:nth-child(3){margin-top:1vw;}
.menu_btn div i{font-size: 22px; margin-left: 6px;}

.menu_btn .close{display: none;}
.menu_btn .close span{width:5vw;position:absolute;top:50%;transform:translateY(-50%) rotateZ(0deg);transition:all .5s;opacity:0;}
.menu_btn.on .close span:nth-child(1){transform:rotateZ(-45deg)}
.menu_btn.on .close span:nth-child(2){transform:rotateZ(45deg)}

.menu_btn.on .open {opacity: 0; display: none;}
.menu_btn.on .close {opacity:1; display: flex;;}

/* .gnb{position:fixed;;background:#fff;width:100%;border-top:0;margin-top:1px;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5; z-index: 20; top: 96px; } */
.gnb ul{padding:0;width:100%;position:fixed;;background:#fff; z-index: 20; top: 106px; }
.gnb li{float:none;width:100%;border-bottom:1px solid #e5e5e5;font-size:14px;}
.gnb li a{display:block;letter-spacing: 0.004em; padding: 7px 10px; font-size: 17px; font-weight: 400;}

.call_btn{right:3%;position:absolute;top:50%;transform:translateY(-50%);}
.call_btn img{width:8vw;}

.header_sns{left:auto;right:13%;display:none;}
.header_sns li a{width:6vw;}
.header_sns li a img{width:100%;}
.header_sns li a span{displaY:none;}

.head_call{padding: 10px; display: flex; justify-content: space-between;}
.head_call a{width: 49%; text-align: center; font-size: 17px; font-weight: 400; border: 1px solid #353a62; padding: 7px 2px;}
.head_call a i{margin-right: 5px;}

.head_time{background: #fafafa; padding: 10px; }
.head_time img{ width: 80%;}
}


.mainSwiper2{height: calc(90vh - 150px); margin-top: 150px; position: relative;}
.mainSwiper2 .main1{height: 100%; position: absolute; top: 0; z-index: 10; left: 0; right: 0; margin: 0 auto;}
.main_list{ background: #072a67; overflow: hidden;}
.main_list .width{display: flex;}
.main_list h2{width: 20%; text-align: center; color: #fff; background: #0d6fb8; padding: 14px 0px; position: relative; z-index: 2;}
.main_list h2 span{position: relative; z-index: 2; display: inline-block; width: 20%; font-size: 2.5rem; }
.main_list h2::before{content: ''; width: 300%; height: 100%; background: #0d6fb8; right: 0; position: absolute; top: 0; z-index: 1;}
.main_list .mainSwiper{width: 80%;}
.main_list .mainSwiper .swiper-slide{width: 25%; text-align:center; margin-right: 0px !important;}
.main_list .mainSwiper .swiper-slide h3{padding: 14px 0px; color:#fff;   border-right: 1px solid #6a7fa4; font-size: 2.5rem;}
.main_list .mainSwiper .swiper-slide-thumb-active h3{background: #051f4c; color: #ffe400;}
.mainSwiper2 .txt{height: 100%; display: flex; flex-direction: column; justify-content: center;}
.slide1 {background:url(photos_new/url_photo5.png) no-repeat; background-size:cover; position:relative; background-position: center;}
.slide2 {background:url(photos_new/url_photo6.png) no-repeat; background-size:cover; position:relative; background-position: center;}
.slide3 {background:url(photos_new/url_photo7.png) no-repeat; background-size:cover; position:relative; background-position: center;}
.slide4 {background:url(photos_new/url_photo8.png) no-repeat; background-size:cover; position:relative; background-position: center;}
.main1 .txt {max-width:1100px; margin:0 auto; width: 92%;}
.main1 .txt span {display:block; color:#072a67;}
/* .main1 .txt .t1 { font-size:21px; letter-spacing: 2px; margin-bottom:30px;}
.main1 .txt .t2 { font-size:86px; font-weight:bold;}
.main1 .txt .t3 { font-size:55px; font-weight:bold;}
.main1 .txt .t5 {font-size:21px; letter-spacing: 2px;} */
.main1 .txt .t1 { font-size:86px; font-weight:bold; display: block;  text-align: center;}
.main1 .txt .t2 { font-size:21px; font-weight:bold; margin-bottom:30px;}
.main1 .txt .t3 { font-size:25px; font-weight:bold; text-align: right;}
.main1 .txt .t5 {font-size:21px; font-weight:bold; margin-left: 33.33%;}

.main1 .txt .t4 {font-size:25px; font-weight:600;}

.main1 .txt .t4:before {content:''; display:block; width:130px; height:3px; background:#072a67; margin:40px 0 30px;}
.main1 .m1_ul {position:absolute; left:0; bottom:0; right:0; background:#072a67;}
.main1 .m1_ul ul { display:flex; justify-content: center; align-items: center; gap:100px; height:82px;}
.main1 .m1_ul ul a {color:#fff; font-size:24px; font-weight:600;}

.main2 {padding:180px 0; max-width:1400px; margin:0 auto; width: 92%;}
.main2 .tit { text-align:center; margin-bottom:80px;}
.main2 .tit span {display:block; font-size:16px; font-weight:200; letter-spacing: 3px; margin-bottom:30px;}
.main2 .tit strong { font-size:45px; font-weight:200;}
.main2 .tit strong em {font-style: normal; font-weight:bold;}
.main2 .lst {display:flex; gap:20px;}
.main2 .lst li {width:100%;}
.main2 .lst li a {display:block; height:460px; background:#072a67;}

.main3 {padding:130px 0 180px; background:#fafafa;}
.tit2 {text-align:center; margin-bottom:85px;}
.tit2:before {content:''; display:block; width:86px; height:87px; background:url(../img/new/ico01.png) no-repeat; margin:0 auto 30px;}
.tit2 span {display:block;}
.tit2 .t1 {font-size:45px; font-weight:bold;}
.tit2 .t2 { font-size:25px; font-weight:200;}
.tit2 .t3 { font-size:16px; font-weight:200; letter-spacing:3px;}
.tit2 .t3 + .t1 {margin-top:16px;}
.tit2 .t1 + .t2 {margin-top:16px;}
.tit2 .t1 + .t3 {margin-top:16px;}
.tit2.type2:before {background-image:url(../img/new/ico01_w.png);}
.tit2.type2 span {color:#fff;}


.tit3 {text-align:center; margin-bottom:20px;}
.tit3 span {display:block;}
.tit3 .t1 { font-size:45px; color:#072a67; font-weight:bold;}
.tit3 .t2 { font-size:16px; font-weight:200; letter-spacing:3px;}
.tit3 .t1 + .t2 {margin-top:30px;}
.tit3 .t2 + .t1 {margin-top:10px;}


.main3 .lst {display:flex; justify-content: space-between; flex-wrap:wrap; max-width:1400px; margin:0 auto -30px; width: 92%;}
.main3 .lst{display: flex; flex-wrap: wrap; gap: 25px 2%;}
.main3 .lst li{width: 23%; position: relative; border-radius: 50px; overflow: hidden;}
.main3 .lst li img{width: 100%;}
.main3 .lst li span{position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #fff; font-size: 2.0rem; font-weight: bold; display: flex; justify-content: center; align-items: center; opacity: 1; transition: 0.3s all;}
/* .main3 .lst li:hover span{opacity: 1;} */
.main3 .lst li:hover{border: 5px solid #1a4485;}


.main4 {background:#1a4485; padding:130px 0 250px; position:relative;}
.main4 .lst {max-width:1500px; margin:0 auto; display:flex; justify-content: space-between; width: 92%;}
.main4 .lst li {width:24%; position:relative;}
.main4 .lst li img{width: 100%;}
.main4 .lst li div {position:absolute; left:0; top:0; right:0; opacity:0; transition: 0.3s ease-in-out;}
.main4 .lst li:hover div {opacity:1;}
.main4 .lst li div span {position:absolute; left:15%; top:0; right:15%; bottom:0; display:flex; justify-content: center; align-items: center; text-align:center; font-size:19px; color:#fff; word-break: keep-all; z-index:3; transition: 0.3s ease-in-out;}
.main4 .lst li:hover div span {transform: scale(1);}
.main4 .lst li div img {transition: 0.3s; transform: scale(0);}
.main4 .lst li:hover div img {transform: scale(1);}
.main4 .lst li strong {display:block; text-align:center; color:#fff; font-size:30px; margin-top:50px;}
.main4 .lst li strong span{font-size: 30px; font-weight: 200;}
.main4 .bot {position:absolute; left:0; bottom:0; right:0; overflow: hidden;}
.main4 .bot .inr {width:200vw; overflow:hidden; }
.main4 .bot .inr div {width:100vw; float:left; font-size:5vw; font-weight:900; color:#3c5a91; letter-spacing:1.5vw;animation:pado2 30s linear infinite;  }
@keyframes pado2{
	0%{ transform: translateX(0);}
    100% { transform: translateX(-100vw);}
}

.main5 {padding:180px 0; position:relative;}
.main5:before {content:''; display:block; position:absolute; left:0; right:0; bottom:0; top:540px; background:#f8f8f8;}
.main5 .inr {position:relative; z-index:3; max-width:1400px; margin:130px auto 0; width: 92%;}
.main5 .inr .box1 {display:flex; justify-content: space-between; margin-bottom:130px;}
.main5 .inr .box1 .img{width: 45%;}
.main5 .inr .box1 .img img{width: 100%;}
.main5 .inr .box1 .txt {width:calc(50% - 0px); background:url(../img/new/ico_bg.png) no-repeat center bottom; padding-bottom:50px;}
.main5 .inr .box1 .txt h3 {font-size:35px; font-weight:200; margin-bottom:80px;}
.main5 .inr .box1 .txt h3 strong {color:#072a67;}
.main5 .inr .box1 .txt p { font-size:20px; font-weight:300; line-height:1.5;}
.main5 .inr .box1 .txt p + p {margin-top:35px;}
.main5 .inr .box2 {display:flex; justify-content: space-between;}
.main5 .inr .box2 .txt {width:100%; display: flex; justify-content: space-between; gap: 30px 0px}
.main5 .inr .box2 .txt .lst{width: 47%}
/* .main5 .inr .box2 .txt h3 {display:flex; gap:10px; align-items: center; margin-bottom:80px;}
.main5 .inr .box2 .txt h3 strong { font-size:35px;}
.main5 .inr .box2 .txt h3 em {font-style: normal; font-size:25px; font-weight:200;}
.main5 .inr .box2 .txt h3 span {display:inline-block; padding:8px 20px; border-radius:50px; background:#072a67; color:#fff; font-size:19px; font-weight:600;} */
/* .main5 .inr .box2 .lst + .lst {margin-top:70px;} */
.main5 .inr .box2 .lst h4 {font-size:25px; font-weight:bold; color:#072a67; padding-bottom:13px; border-bottom:1px solid #333; margin-bottom:15px;}
.main5 .inr .box2 .lst li {position:relative; margin:5px 0; font-size:19px; padding-left:14px; line-height:1.3;}
.main5 .inr .box2 .lst li:before {content:''; display:block; width:3px; height:3px; border-radius:50%; background:#333; position:absolute; left:0; top:9px;}
.main5 .inr .box2 .img {width: 52%;}
.main5 .inr .box2 .img img{width: 100%; filter: drop-shadow(0px 0px 10px #c3c3c3);}

.main5 .h3 {position:relative;display:flex; gap:10px; align-items: center; justify-content: center; margin-bottom:20px}
.main5 .h3 strong { font-size:35px;}
.main5 .h3 em {font-style: normal; font-size:25px; font-weight:200;}
.main5 .h3 span {display:inline-block; padding:8px 20px; border-radius:50px; background:#072a67; color:#fff; font-size:19px; font-weight:600;}

.medal{margin-left:20px;width:150px;}
.medal img{width:100%}

.main5_1{background:#f8f8f8;padding-bottom:150px;}
.main5_1 .inr {position:relative; z-index:3; max-width:1400px; margin:0px auto 0; width: 92%;}
.main5_1 .box2{display:flex;align-items: center; justify-content: space-between;}
.main5_1 .box2 img{width:35%}
.main5_1 .box2 .txt{width:55%}
.main5_1 .inr .box2 .lst h4 {font-size:25px; font-weight:bold; color:#072a67; padding-bottom:13px; border-bottom:1px solid #333; margin-bottom:15px;}
.main5_1 .inr .box2 .lst li {position:relative; margin:5px 0; font-size:19px; padding-left:14px; line-height:1.3;}
.main5_1 .inr .box2 .lst li:before {content:''; display:block; width:3px; height:3px; border-radius:50%; background:#333; position:absolute; left:0; top:9px;}
.main5_1 .inr .box2 .lst:last-child{margin-top:50px;}
.main5_1 .h3 {display:flex; gap:10px; align-items: center; justify-content: center; margin-bottom: 0px}
.main5_1 .h3 strong { font-size:35px;}
.main5_1 .h3 em {font-style: normal; font-size:25px; font-weight:200;}
.main5_1 .h3 span {display:inline-block; padding:8px 20px; border-radius:50px; background:#072a67; color:#fff; font-size:19px; font-weight:600;}


.main6 {padding:100px 0 180px; position:relative; background:#072a67;padding:100px 0}
.main6 .inr {max-width:1400px; margin:0 auto; position:relative; z-index:2; width: 92%;}
.main6 .inr h3 {font-size:25px; color:#fff; border-bottom:1px solid #fff; padding-bottom:15px; margin-bottom:15px; font-weight:bold;}
.main6 .inr p { font-size:18px; line-height:1.3; color:#fff;letter-spacing: 0;}
.main6 .inr .lst {display:flex; gap:50px; justify-content: space-between;}
.main6 .inr .lst li {width:100%; overflow:hidden; border-radius:50px; background:#072a67; text-align:center; padding-bottom:30px;}
.main6 .inr .lst li img {width:100%;}
.main6 .inr .lst li strong { font-size:25px; display:block; padding:24px 20px 20px; color:#fff;}
.main6 .inr .lst li span {display:block; color:#fff; font-size:20px; padding:0 40px;}

.main6_2{background:#fff !Important;padding:0 !Important;margin-top:120px;}

.main7 {text-align:center; padding-top: 200px; padding-bottom: 200px;}
.main7-1 {background: url('../img/ck1.png')no-repeat; background-position: left center; background-size: cover; background-attachment: fixed;}
.main7-2 {background: url('../img/ck2.png')no-repeat; background-position: center; background-size: cover; border-top: 1px solid #eee; background-attachment: fixed;}
.main7 h3 {font-size:45px; font-weight:300; margin-bottom:40px;}
.main7 h3 strong { color:#072a67;}
.main7 p {font-size:19px; margin-bottom:120px;}
.main7 .lst {max-width:1400px; margin:0 auto; display:flex; justify-content: space-between; gap:30px; width: 92%;}
.main7 .lst li {width:100%;}
.main7 .lst li strong {display:block; width:85%; height:50px; margin:0 auto -25px; line-height:50px; color:#fff; background:#072a67; font-size:25px; text-align:center; position:relative; z-index:2;}
.main7 .lst.type2 li strong {background:#0d6fb8;}
.main7 .lst li img {width:100%;}


.main8 {text-align:center;background:#fafafa; padding:130px 0;}
.main8 h3 {font-size:50px; color:#072a67; margin-bottom:50px;}
.main8 p {font-size:21px; margin-bottom:130px;}
.main8 p b{font-size: 2.4rem;}
.main8 .lst { display:flex; justify-content:center; max-width:1200px; margin:0 auto; width: 92%;}
.main8 .lst li {width:33.33333%; position:relative;}
.main8 .lst li:before {content:''; display:block; width:51px; height:44px; background:url(../img/new/arrow.png) no-repeat; position:absolute; right:-25px; top:50px;}
.main8 .lst li:last-child:before {display:none;}
.main8 .lst li img {display:block; margin:0 auto;}
.main8 .lst li strong {display:block; padding:26px 0; font-size:25px;}
.main8 .lst li span { font-size:20px;}


.main9 {padding:180px 0;}
.main9 .txt1 {text-align:center; font-size:25px; margin:-30px 0 100px;}
.main9 .tabs { display:flex; justify-content: center; gap:20px; width:100%; flex-wrap:wrap; margin-bottom:90px;}
.main9 .tabs li a {display:block; width:294px; height:72px; border:3px solid #072a67; color:#072a67; font-size:25px; font-weight:bold; border-radius:100px; line-height:66px; text-align:center;}
.main9 .tabs li.on a {background:#072a67; color:#fff;}
.main9 .panelWrap {max-width:1400px; margin:0 auto; display:flex; justify-content: space-between; width: 92%;}
.main9 .panelWrap .img{width: 50%;}
.main9 .panelWrap .img img{width: 100%;}
.main9 .panelWrap .txt {width:46%;}
.main9 .panelWrap .txt h3 { font-size:40px; padding-bottom:12px; margin-bottom:30px; border-bottom:1px solid #000; font-weight:bold; color:#072a67;}
.main9 .panelWrap .txt p {font-size:20px; line-height:1.3;}
.main9 .panelWrap .txt ul {display:flex; justify-content: space-between; margin:60px 0;}
.main9 .panelWrap .txt ul li {border-right:1px solid #e2e2e2; text-align:center; width:100%; padding:0 20px; font-size:18px; font-weight:600;}
.main9 .panelWrap .txt ul li:last-child {border:0;}
.main9 .panelWrap .txt ul li img {display:block; margin:0 auto 25px;}
.main9 .panelWrap .txt .ex {display:block ;border-radius:100px; display:flex; align-items: center; justify-content: center; font-size:20px; color:#fff; font-weight:600; height:92px; background:#072a67; padding: 0px 10px;}
.main9 .panelWrap .txt .ex img {margin-right:12px;}


.main10 {padding:180px 0; background:#fafafa;}
.main10 .txt1 {text-align:center; font-size:25px; margin:-30px 0 100px;}
.main10 .box {max-width:1400px; margin:0 auto; display:flex; justify-content: space-between; align-items: center;width: 92%; }
.main10 .box .img{width: 50%;}
.main10 .box .img img{width: 100%;}
.main10 .box .txt {width:46%;}
.main10 .box .txt h3 { font-size:40px; padding-bottom:12px; margin-bottom:30px; border-bottom:1px solid #000; font-weight:bold; color:#072a67;}
.main10 .box .txt p {font-size:20px; line-height:1.3;}
.main10 .box .txt ul {display:flex; justify-content: space-between; margin:60px 0 0; gap:20px;}
.main10 .box .txt ul li { text-align:center; width:32%;  font-size:18px; font-weight:600; color:#072a67;}
.main10 .box .txt ul li img {display:block; margin:0 auto 25px; width: 100%;}
.main10 h4 {font-size:25px; line-height:1.3; text-align:center; margin:160px 0;}
.main10 h4 strong { color:#072a67; font-size:30px;}
.main10 .lst {display:flex; gap:50px; justify-content: space-between; max-width:1270px; margin:0 auto; margin-bottom: 100px; width: 92%;}
.main10 .lst li {width:100%; overflow:hidden; border-radius:50px; background:#072a67; text-align:center; border:1px solid #e4e4e4;}
.main10 .lst li img {width:100%;}
.main10 .lst li span {display:block; color:#fff; font-size:25px; padding:40px 20px; font-weight:300;}
.main10 .lst li span strong {display:block;}
.main10 .box_area{background: #fff; border-radius: 30px; padding: 45px 10px;}
.main10 .box_area h2{font-size: 40px; font-weight: bold; color: #072a67; text-align: center; margin-bottom: 30px;}
.main10 .box_area .box_wrap{display: flex; gap: 30px 3%; justify-content: center;}
.main10 .box_area .box_wrap .wrap{width: 20%; text-align: center;}
.main10 .box_area .box_wrap .wrap p{font-size: 20px; font-weight: 600; color: #072a67; margin-top: 15px;}

.main11 {padding:180px 0; }
.main11 .txt1 {text-align:center; font-size:25px; margin:-30px 0 100px;}
.main11 .txt1 span {font-size:25px; color:#e60010;}
.main11 .lst {max-width:1400px; display:flex; justify-content: space-between; margin:0 auto; text-align:center; width: 92%;}
.main11 .lst li {text-align:center; width: 15.5%}
.main11 .lst li strong { font-size:25px; color:#072a67;}
.main11 .lst li img {display:block; margin:20px auto; width: 100%;}
.main11 .lst li span { font-size:20px; font-weight:600;}

.main12 {padding:200px 0 200px;}
.main12 .txt1 {text-align:center; font-size:25px; margin:-30px 0 140px;}
.main12 .swiper-container {padding: 100px 0;}
.main12 .swiper-container .swiper-slide {transition: all 0.4s ; position: relative; transform: scale(1.4, 1.4); }
.main12 .swiper-container .swiper-slide::after{content: ''; width: 100%; height: 100%; background: rgba(0,0,0,0.3); position: absolute; top: 0; left: 0;}
.main12 .swiper-container .swiper-slide img {width: 100%;display: block;transition: all 0.4s; }
.main12 .swiper-container .swiper-slide.swiper-slide-active {z-index: 100; transform: scale(1.7, 1.7);}
.main12 .swiper-container .swiper-slide.swiper-slide-active::after{background: none;}
/* #four .swiper-container .swiper-slide.swiper-slide-active img {transform: scale(1.9, 1.9);} */


.main13 {padding:160px 0; background:#072a67;}
.main13 .tit3 , .main13 .tit3 * {color:#fff;}
.main13 .box {display:flex; justify-content: space-between; max-width:1400px; margin:0 auto; width: 92%;}
.main13 .box .right div {display:flex; justify-content: space-between; margin-top:10px; gap: 6px 1%;}
.main13 .box .left{width: 50%;}
.main13 .box .left img{width: 100%;}
.main13 .box .right{width: 46%;}
.main13 .box .right img{width: 100%;}

/* 메인비주얼 */
.theme_visual{ position: relative;}
.Hfull{height: 80vh; position: relative;}
.swiper_visual{width: 100%; height: 100%;}
.theme_visual .visual1{background: url('../img/visual1.png')no-repeat; background-size: cover; background-position: center;}
.theme_visual .visual2{background: url('../img/visual1.png')no-repeat; background-size: cover; background-position: center;}
.theme_visual .visual3{background: url('../img/visual1.png')no-repeat; background-size: cover; background-position: center;}

.theme_visual .gallery_wrap{width: 98%; max-width: 1400px; position: absolute; left: 0; right: 0;margin: 0 auto; top: 0; z-index: 9; display: flex; justify-content: flex-end; height: 100%; align-items: center; padding-top: 5%;}
.pic_lt_block li .last_title{display: none; }
.theme_visual .gallery_wrap .gallery-pagination{position: absolute; z-index: 10;}
.theme_visual .gallery_wrap .galley_box{ width: 38%; display: flex;}
.theme_visual .gallery_wrap .latest_top_wr{width: 100%;}
.theme_visual .gallery_wrap .galley_box img{width: 100%;}
.theme_visual .gallery_wrap .pop_title{padding: 0px 10px; background: var(--c1); color: #fff; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 30px 0px;}
.theme_visual .gallery_wrap .pop_title span{font-family: 'SUIT-SemiBold';}
.theme_visual .swiper-pagination-clickable .swiper-pagination-bullet{background: #fff;}
.maintext_box{height: 100%; display: flex; flex-direction: column; justify-content: center;}
.maintext_box h2{color: var(--c1); font-size: var(--fs30); font-weight: 400; letter-spacing: 0; margin-bottom: 10px;}
.maintext_box h3{font-size: 6.5rem; color: #fff; font-weight: 500; line-height: 100%;}
.maintext_box h4{font-size: 6.5rem; color: var(--c2); font-weight: 500;}


.foot_atag{padding: 12px 0px; display: flex; justify-content: center; gap: 10px 1%; background: #0e6eb8;}
.foot_atag a{width: 190px; height: 38px; border: 1px solid #fff; text-align: center; line-height: 38px; color: #fff; font-weight: 500;}




::-webkit-scrollbar {
    width:8px;height:8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius:4px;
    background-clip: padding-box;
  }


.pc{display: block !important;}
.mob{display: none !important;}

@media all and (max-width: 768px){
	.pc{display: none !important;}
	.mob{display: block !important;}
}

.quick_menu{position: fixed; z-index: 9; top: 25%; right: 0; display: flex; flex-direction: column; width: 100px; border: 1px solid #e1e0df;}
.quick_menu a{display: flex; flex-direction: column; justify-content: center; align-items: center; background: #fff; padding: 15px 0px; border-bottom: 1px solid #e1e0df;}
.quick_menu a span{font-size: 14px; font-weight: 500; margin-top: 10px;}
.quick_menu button{width: 100%; border: none; background: #575c60;}
.quick_menu button span{padding: 6px 0px; font-weight: bold; color: #fff; display: block;}



.track {white-space: nowrap;will-change: transform;animation: marquee 15s linear infinite; }
@keyframes marquee{
	from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
@-webkit-keyframes slide-top2{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}}@keyframes slide-top2{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}}

.banner{background: #353a62; padding: 15px 0px;}
.banner .width{display: flex; align-items: center; justify-content: space-between; padding: 0px 4%;}
.banner .banner_img{display: flex; white-space: nowrap; align-items: center; color: #fff; width: 300px;}
.banner .banner_img span{font-size: 2.6rem; font-weight: 200; margin-left: 10px;}
.banner .track_wrap{width: 70%; overflow: hidden;}
.banner .track_wrap h2{font-size: var(--fs35); color: #fff;}
.banner .track_wrap span{font-size: var(--fs35); color: var(--c1);}



/* board warp */
.board_warp .latest_wrap{display: flex; justify-content: space-between;}
.latest_wrap .latest_top_wr{width: 48.5%;}
.latest_top_wr h2{font-size: var(--fs24); margin-bottom: 40px; font-weight: bold;}
.latest_top_wr h2 i{margin-right: 7px; font-weight: 300;}
.board_warp .main_btn{margin-top: 100px; display: flex; justify-content: space-between;}
.board_warp .main_btn a{width: 24%; display: flex; flex-direction: column; align-items: center; box-shadow: 0px 1px 3px rgba(0,0,0,0.2); padding: 40px 0px;}
.board_warp .main_btn a i{font-size: 5.0rem; width: 100px; height: 100px; background: #eee; color: #333; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;}
.board_warp .main_btn a span{font-size: var(--fs20);}
.board_warp .main_btn a:hover{-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
	@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@media all and (max-width: 1300px){
	.pic_lt .lt_wrap .lt_text_top .lt_info{min-width: 80px; min-height: 80px;}
	.pic_lt .lt_wrap{padding: 12px;}
}
@media all and (max-width: 950px){
	.board_warp .latest_wrap{flex-direction: column;}
	.latest_wrap .latest_top_wr{width: 100%;}
	.latest_wrap .latest_top_wr:first-child{margin-bottom: 60px;}
}
@media all and (max-width: 768px){
	.board_warp .main_btn{flex-wrap: wrap; margin-top: 60px; gap:15px 0px;}
	.board_warp .main_btn a{width: 49%; padding: 25px 0px;}
}

/* 하단 */
#ft{background: #072a67;padding: 60px 0px; width: 100%;}
#ft .footer{display: flex; justify-content: center;  flex-direction: column; gap: 20px 4%;}
#ft .foot_info span{text-align: center;; display: block; color: #fff; font-weight: 200; line-height: 170%;}
#ft .foot_info span a{color: #fff;}


/* sub_visual */
.sub_visual{width: 100%;height: 400px;background-repeat: no-repeat !important;background-size: cover !important;background-position: center top !important; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.sub_visual .sub_top_text{text-align: center; color: #fff; padding-top: 100px;}
.sub_visual .sub_top_text h3{font-size: var(--fs40); position: relative;}
.sub_visual .sub_top_text p{font-size: var(--fs22);font-weight: 600;}
@media all and (max-width: 1024px) {
	.sub_visual{height: 250px;}
	.sub_visual .sub_top_text{padding-top: 70px;}
}

/* lnb */
.lnb_wrap{position: relative;}
.lnb{background: #fff; border-bottom: 1px solid #ddd;}
.lnb .lnb_map{height: 60px; display: flex; align-items: center; border-left: 1px solid #f1f1f1;}
.lnb .lnb_map .home{width: 60px; height: 100%;background: #fff;display: flex;justify-content: center;align-items: center;}
.lnb .lnb_map .home a{color: #333;}
.lnb .lnb_map .home i{font-size: 20px;}
.lnb .lnb_map > li{width: 250px; height: 100%;border-right: 1px solid #f1f1f1; padding: 0px 15px;position: relative;}
.lnb .lnb_map li.dep a{width: 100%; height: 100%;display: flex;align-items: center; font-size: 14px;}
.lnb .lnb_map li.dep a span{width: 100%;display: flex; justify-content: space-between;align-items: center; font-size: 1.7rem; color: #333;}
.lnb .lnb_map li.dep a span i{font-size: 16px;}
.lnb .lnb_map li.dep ul{display: none;position: absolute;left: 0; top: 61px;width: 100%;z-index: 10;}
.lnb .lnb_map li.dep ul li{width: 100%; background: #f9f9f9; border-bottom: 1px solid #fff;}
.lnb .lnb_map li.dep ul li a{padding: 15px 15px;font-size: 1.6rem;}
.lnb .lnb_map li.dep ul li a:hover{background: #2DAAE1; color: #fff;transition: 0.3s all;}
.lnb .lnb_map li.dep ul li a.on{background: #f1f1f1;}

@media screen and (max-width:1400px) {
  .lnb .lnb_map{width: 100% !important;}
}
@media screen and (max-width:900px){
  .lnb .lnb_map{height: 55px;}
  .lnb .lnb_map .home i{font-size: 16px;}
  .lnb .lnb_map li.dep ul{top: 56px;}
}
@media screen and (max-width:600px){
  .lnb .lnb_map{height: 50px;}
  .lnb .lnb_map .home{width: 12%;}
  .lnb .lnb_map li{width: 44%;}
  .lnb .lnb_map li:last-child{width: 44%;}
  .lnb .lnb_map li.dep ul{top: 51px;}
  .lnb .lnb_map li.dep a{font-size: 12.5px;}
  .lnb .lnb_map li.dep ul li a{font-size: 12.5px;}
}

.pop_wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.pop_wrap .pop-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 780px;
  height: 60vh;
  max-height: 760px;
  padding: 50px 20px;
  background: #fff;
  line-height: 25px;
}

.pop-inner h3{text-align: center; font-size: 2.0rem; font-weight: 600; margin-bottom: 30px;}
.pop-text{overflow-y: scroll; height: 45vh;}
.pop-text h4{font-size: 1.8rem; margin-top: 10px; margin-bottom: 5px; font-weight: 600; font-family: 'Pretendard' !important;}
.pop-text p{line-height: 140%; font-weight: 400; margin-bottom: 15px; font-family: 'Pretendard' !important;}
.pop-text img{width: 90%; margin: 0 auto;}

#popup3 .pop-text{text-align: center;}
#popup4 .pop-text{text-align: center;}
#popup3 .pop-inner{height: initial; max-height: initial;}
#popup3 .pop-inner{height: initial; max-height: initial;}
#popup4 .pop-inner{height: initial; max-height: initial;}
#popup3 .pop-inner{height: initial; max-height: initial;}
#popup4 .pop-inner .pop-text{height: initial;}

.pop-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
	background: var(--c1);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pop-close i{
  font-size: 20px;
	color: #fff;
}
#popup3 .pop-text{height: auto;}
#popup4 h4{margin-bottom: 20px;}
.pop_box_wrap{display: flex; flex-wrap: wrap; gap: 15px 1%;}
.pop_box_wrap .pop_box{width: 49%; border: 1px solid #ddd; padding: 20px;}
.pop_box_wrap .pop_box h6{color: var(--c1); font-weight:600; font-size: 1.6rem; margin-bottom: 20px;}
.pop_box_wrap .pop_box p{font-size: 1.4rem;}
.pop_box_wrap .pop_box1{width: 100%;}

#popup5 .pop-inner{max-width: 600px; height: auto;}
#popup5 .pop-inner img{width: 100%;}
#popup5 .pop-inner h2{font-size: 2.4rem; font-weight: bold; margin-bottom: 10px; }














/* 페이지 네비, 게시판 등 */
/* .bo_cate_link{border-radius: 30px;}
.bo_v_topcon .bo_v_cate{border-radius: 30px;} */
#bo_gall .is_notice{border-radius: 30px;}
.quick_banner{z-index: 99; right: 15px; bottom: 20px; position: fixed;}
@keyframes quickBounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

@keyframes quickBounce2 {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

#top_btn{width: 45px; height: 45px;border: none; background: #fff; border-radius: 50%;box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); transition: 0.3s all; visibility: hidden;}
#top_btn span{font-size: 14px; font-weight: bold;}
#top_btn:hover{background: #eee; color: #000;}

.floating_menu { width: 62px; height: 62px; border-radius: 50%; background: var(--c1); position: fixed; bottom: 100px; z-index: 99; }
.floating_menu input { position: absolute; width: 62px; height: 62px; margin: 0; opacity: 0; cursor: pointer; }
/* .floating_menu input:checked ~ .floating_plus { transform: rotate(135deg); } */
.floating_menu input:checked ~ .floating_nav li:nth-child(1) { transform: translate(-0px,85px); opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(2) { transform: translate(-64px,62px); opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(3) { transform: translate(-88px,-0px); opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(4) { transform: translate(-64px,-62px);opacity: 1; }
.floating_menu input:checked ~ .floating_nav li:nth-child(5) { transform: translate(-0px,-85px); opacity: 1; }
.floating_menu input ~ .floating_plus { transform: rotate(0); }
.floating_menu > .floating_plus { display: flex; justify-content: center; align-items: center; width: 62px; height: 62px; font-size: 20px; color: #FFFFFF; background:var(--c1); border-radius: 50%; transform: rotate(0); transition: all 0.5s ease; pointer-events: none; box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); }
.floating_menu > .floating_plus i { line-height: normal !important; }
.floating_menu > .floating_nav { display: flex; justify-content: center; align-items: center; padding: 0; margin: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1; }
.floating_nav li { display: flex; justify-content: center; align-items: center; width: 65px; height: 65px; border-radius: 50%; background: #fff; cursor: pointer; position: absolute; transition: all 0.5s ease; box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2); opacity: 0;}
.floating_menu > .floating_nav li a i { font-size: 20px; color: #353a62; }
.floating_menu > .floating_nav li a i.xi-kakaotalk { font-size: 28px; margin-top: 3px; }
.floating_nav li a{display: flex; flex-direction: column; align-items: center; justify-content: center;}
.floating_nav li a span{font-size: 12px; font-weight: 400; margin-top: 5px; letter-spacing: -0.06em;}
.floating_nav li a img{ width: 50%;}

.pg_wrap{margin-top: 60px; display: flex; justify-content: center; width: 100%;}
.pg_wrap .pg{display: flex;}
.pg_page{width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin: 0 2px; background-color: none; border: 1px solid #ccc;}
.pg_current{border: 1px solid #8e8e8e; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin: 0 2px; background: none;}

@media all and (max-width: 1400px) {
	html{font-size: 55% !important;}
	:root{
		--fs40: 3.4rem;
		--fs32: 2.8rem;
		--fs28: 2.4rem;
	}
}
/* 갤러리 */
@media all and (max-width: 1024px) {
	.gall_row .col-gn-4{width: 33.33333%;}
	.gall_row .col-gn-5{width: 25%;}
}

@media all and (max-width: 850px) {
	.gall_row .col-gn-4, .gall_row .col-gn-3, .gall_row .col-gn-5{width: 50%;}
	#bo_cate li{width: 25%; margin-bottom: 10px;}
	#bo_cate ul{flex-wrap: wrap;}
}

@media all and (max-width: 600px) {
	.gall_row .col-gn-4, .gall_row .col-gn-3, .gall_row .col-gn-5, .gall_row .col-gn-2{width: 100%;}
}

/* 리스트 */
@media all and (max-width: 850px) {
	.prdt_list .prdt_top th.psize, .prdt_list .prdt_table .psize{display: none;}
	.prdt_list .prdt_top th.pcolor, .prdt_list .prdt_table .pcolor{display: none;}
}

@media all and (max-width: 650px) {
	.prdt_list .prdt_top th.num{min-width: 60px;}
	.prdt_list .prdt_top th.pintro, .prdt_list .prdt_table .pintro{display: none;}
	.prdt_list .prdt_top th.pname{width: 100%;}
	.prdt_list .prdt_table .pname{text-align: center;}
}

/* 애니메이션 */
=


/*  */
